type efs_block_device, dev_type;
type keypad_dev, dev_type;
type panel_dev, dev_type;
type power_dev, dev_type;
type rfkill_device, dev_type;
type timerirq_dev, dev_type;
