allow init camera_socket:sock_file relabelto;
allow init keypad_dev:file { getattr relabelto setattr };
allow init labeledfs:filesystem associate;
allow init power_dev:file { relabelto setattr };
allow init panel_dev:file { relabelto setattr };
allow init self:process execmem;
