allow ueventd keypad_dev:file getattr;
allow ueventd vfat:dir search;
allow ueventd vfat:file r_file_perms;
allow ueventd unlabeled:dir search;
allow ueventd unlabeled:file { read open getattr };
