allow ueventd keypad_dev:file getattr;
allow ueventd panel_dev:file { getattr relabelto };
allow ueventd power_dev:file { getattr relabelto };
allow ueventd unlabeled:dir search;
allow ueventd unlabeled:file { read open getattr };
