# Copyright (c) 2009-2014, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
import init.target.rc
import init.qcom.usb.rc
import init.qcom.power.rc

on early-init
    mkdir /firmware-mdm 0771 system system
    symlink /data/tombstones /tombstones
    mkdir /efs 0771 system system

on init
    export LD_SHIM_LIBS /system/lib/libril.so|libsamsung_symbols.so

    # Set permissions for persist partition
    mkdir /persist 0771 system system

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    setprop persist.sys.ssr.restart_level 3

    chown system graphics /sys/class/graphics/fb1/hpd
    chown system graphics /sys/class/graphics/fb1/vendor_name
    chown system graphics /sys/class/graphics/fb1/product_description
    chown system system /sys/class/graphics/fb1/format_3d
    chmod 0664 /sys/class/graphics/fb1/hpd
    chmod 0664 /sys/class/graphics/fb1/vendor_name
    chmod 0664 /sys/class/graphics/fb1/product_description
    chmod 0664 /sys/class/graphics/fb1/format_3d
    chmod 0664 /sys/class/graphics/fb1/video_mode
    symlink /dev/graphics/fb1 /dev/graphics/hdmi

    #HDMID Permission for sys nodes
    chown system graphics /sys/class/graphics/fb1/connected
    chown system graphics /sys/class/graphics/fb1/edid_modes
    chown system graphics /sys/class/graphics/fb1/power_state

    chown system graphics /sys/class/graphics/fb1/hdcp_present
    chown system graphics /sys/class/graphics/fb1/hdmi_mode

    setprop qcom.audio.init complete
    chown bluetooth net_bt_stack /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # bluetooth LPM
    chmod 0220 /proc/bluetooth/sleep/lpm
    chmod 0220 /proc/bluetooth/sleep/btwrite
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite

    chmod 0660 /dev/ttyHS2
    chown bluetooth bluetooth /dev/ttyHS2

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chown bluetooth bluetooth /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto

    # Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps

    # Allow QMUX daemon to assign port open wait time
    chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait

    # Ril needs to read commandline
    chmod 0644 /proc/cmdline

    #Remove SUID bit for iproute2 ip tool
    chmod 0755 /system/bin/ip

    #port-bridge
    chmod 0660 /dev/smd0
    chown system system /dev/smd0

    #BT DUN port-bridge
    chmod 0660 /dev/smd7
    chown bluetooth bluetooth /dev/smd7

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    # Change permissions for fps_level nodes
    chown system graphics /sys/class/graphics/fb0/msm_fb_fps_level
    chown system graphics /sys/class/graphics/fb1/msm_fb_fps_level
    chown system graphics /sys/class/graphics/fb2/msm_fb_fps_level
    chmod 644 /sys/class/graphics/fb0/msm_fb_fps_level
    chmod 400 /sys/class/graphics/fb1/msm_fb_fps_level
    chmod 400 /sys/class/graphics/fb2/msm_fb_fps_level

    #For bridgemgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/android_usb/f_rmnet_smd_sdio/transport

    # For setting tcp delayed ack
    chown system system /sys/kernel/ipv4/tcp_delack_seg
    chown system system /sys/kernel/ipv4/tcp_use_userconfig

    #   Assign TCP buffer thresholds to be ceiling value of technology maximums
    #   Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  2097152
    write /proc/sys/net/core/wmem_max  2097152

    #To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb3/accept_ra 2

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    write /sys/devices/i2c-3/3-0024/cyttsp_update_fw 1
    write /sys/devices/i2c-3/3-005b/update_fw 1
    start qcamerasvr

    # enable pulsing led on boot
    write /sys/class/sec/led/led_pattern 6

on fs
    mount_all fstab.qcom

    # Enable zRAM
    swapon_all /fstab.qcom

    chown system radio /efs
    chmod 0771 /efs
    restorecon_recursive /efs

    chown system radio /dev/block/platform/msm_sdcc.1/by-name
    chmod 0775 /dev/block/platform/msm_sdcc.1/by-name

on post-fs
    chown system system /sys/block/mmcblk0/queue/scheduler
    chmod 0664 /sys/block/mmcblk0/queue/scheduler
    chown system system /sys/block/mmcblk1/queue/scheduler
    chmod 0664 /sys/block/mmcblk1/queue/scheduler

    # for controlling write performance boosting
    chown system radio /sys/block/mmcblk0/bkops_en
    chmod 0664 /sys/block/mmcblk0/bkops_en

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /tombstones/mdm 0771 system system
    mkdir /tombstones/mdm2 0771 system system

    # create directory for ril data
    mkdir /data/misc/radio 0775 radio radio
    mkdir /data/misc/radio/hatp 0775 radio system

    #  bluetooth
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

    rmdir /data/misc/wifi/wpa_supplicant

    mkdir /data/misc/dhcp 0775 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # Create the directories used by CnE subsystem
    mkdir /data/connectivity 0771 system system
    chown system system /data/connectivity

    mkdir /data/connectivity/nsrm 0771 system system
    chown system system /data/connectivity/nsrm

    #HDCP2.X : The directory permission is temporary.
    mkdir /efs/drm 0775  system system
    mkdir /efs/drm/dxhdcp2 0774  system system

    # for WIFI TRP/TIS
    write /data/.psm.info 1
    chown system root /data/.psm.info
    chmod 0664 /data/.psm.info
    restorecon /data/.psm.info

    # for WIFI Version
    write /data/.wifiver.info 0
    chown system root /data/.wifiver.info
    chmod 0666 /data/.wifiver.info
    restorecon /data/.wifiver.info

    # for WIFI Cert
    chmod 0664 /data/.bustxglom.info
    chmod 0664 /data/.roamoff.info
    chmod 0664 /data/.frameburst.info
    chmod 0664 /data/.txbf.info

    # for WIFI MAC address
    mkdir /efs/wifi 0775 radio system
    chown system wifi /efs/wifi/.mac.info
    chmod 0664 /efs/wifi/.mac.info

    # Create directory used by audio subsystem
    mkdir /data/misc/audio 0770 audio audio

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

    # For disabling softkeys *FIXME*
    chown root system /sys/class/leds/button-backlight/max_brightness
    chmod 0664 /sys/class/leds/button-backlight/max_brightness
    chown root system /sys/class/leds/keyboard-backlight/max_brightness
    chmod 0664 /sys/class/leds/keyboard-backlight/max_brightness

    # Touchkey
    chown root system /sys/devices/virtual/sec/sec_touchkey/touchkey_bln_enable
    chmod 0660 /sys/devices/virtual/sec/sec_touchkey/touchkey_bln_enable
    chown system system /sys/class/sec/sec_touchkey/keypad_enable
    chmod 0660 /sys/class/sec/sec_touchkey/keypad_enable

    #Create the symlink to qcn wpa_supplicant folder for ar6000 wpa_supplicant
    mkdir /data/system 0775 system system
    rm /data/system/wpa_supplicant

    #Create directories for wiper services
    mkdir /data/wpstiles/ 0755 shell
    mkdir /data/wiper 0755 location qcom_oncrpc

    #Create directories for gpsone_daemon services
    mkdir /data/misc/gpsone_d 0770 system gps

    #Create directories for QuIPS
    mkdir /data/misc/quipc 0770 system gps

    #Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps

    #Create directory from IMS services
    mkdir /data/shared 0755
    chown system system /data/shared

    #Create directory for FOTA
    mkdir /data/fota 0771
    chown system system /data/fota

    #Create directory for hostapd
    mkdir /data/hostapd 0770 system wifi

    # Create /data/time folder for time-services
    mkdir /data/time/ 0700 system system

    mkdir /data/bluetooth 0770 bluetooth bluetooth
    # Enable the setgid bit on the directory
    chmod 2770 /data/bluetooth

    mkdir /data/audio/ 0770 media audio
    # Enable the setgid bit on the directory
    chmod 2770 /data/audio

    # permission for TZIC
    chown system system /dev/tzic

    # sensor
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/eeprom_check
    chown system radio /sys/class/sensors/barometer_sensor/calibration
    chown system radio /sys/class/sensors/proximity_sensor/enable
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/light_sensor/enable

    # sensor
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/eeprom_check
    chown system radio /sys/class/sensors/barometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/enable
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/light_sensor/enable

    chown system radio /sys/class/sensors/magnetic_sensor/name
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/vendor

    #earjack
    chown system radio /sys/class/audio/earjack/select_jack
    chown media system /sys/class/audio/earjack/reselect_jack
    chown system radio /sys/class/audio/earjack/key_state
    chown system radio /sys/class/audio/earjack/state

    #OTG Test
    chown system radio /sys/class/host_notify/usb_otg/booster
    chmod 0660 /sys/class/host_notify/usb_otg/booster

    # wifi
    mkdir /efs/wifi 0775 system system

    # Permission for fast dormacy for RIL
    chown system radio /sys/devices/virtual/sec/bamdmux/waketime

    # icd
    exec icd_check
    chown system system /dev/icd
    chmod 0644 /dev/icd
    write /dev/icdr 0
    chown system system /dev/icdr
    chmod 0644 /dev/icdr
    chown system system /dev/tzic

    # h2k permission
    chmod 0644 /efs/redata.bin
    chown radio radio /efs/h2k.dat
    chmod 0644 /efs/h2k.dat
    chown system system /efs/drm/h2k

    # Permissions for Camera
    chown system radio /sys/class/camera/rear/rear_camfw
    chown system radio /sys/class/camera/rear/rear_camtype
    chown system camera /sys/class/camera/rear/rear_flash
    chown system radio /sys/class/camera/front/front_camfw
    chown system radio /sys/class/camera/front/front_camtype
    chown system camera /sys/class/flash/flash/flash_power
    chmod 0660 /sys/class/flash/flash/flash_power
    chmod 0660 /sys/class/camera/rear/rear_flash

    chown system system /sys/class/sec/led/led_r
    chown system system /sys/class/sec/led/led_g
    chown system system /sys/class/sec/led/led_b
    chown system system /sys/class/sec/led/led_pattern
    chown system system /sys/class/sec/led/led_blink

    # Permissions for NCM
    chmod 0660 /sys/class/android_usb/android0/terminal_version
    chown system system /sys/class/android_usb/android0/terminal_version

    # SEC DVFS sysfs node
    chown radio system /sys/power/cpufreq_max_limit
    chown radio system /sys/power/cpufreq_min_limit
    chown radio system /sys/power/cpufreq_table
    chown radio system /sys/class/kgsl/kgsl-3d0/max_pwrlevel
    chmod 664 /sys/power/cpufreq_max_limit
    chmod 664 /sys/power/cpufreq_min_limit
    chmod 664 /sys/power/cpufreq_table
    chmod 664 /sys/class/kgsl/kgsl-3d0/max_pwrlevel

    chown radio system /sys/class/sec/sec_touchkey/touch_sensitivity
    chown radio system /sys/class/sec/sec_touchkey/touchkey_firm_update
    chown radio system /sys/class/sec/sec_touchscreen/set_tsp_for_inputmethod
    chown system radio /sys/class/sec/tsp_noise_test/disp_all_deltadata
    chown system radio /sys/class/sec/tsp_noise_test/disp_all_refdata
    chown system radio /sys/class/sec/tsp/cmd
    chown radio system /sys/class/lcd/panel/power_reduce
    chown radio system /sys/class/lcd/panel/gamma_mode
    chown system radio /sys/class/sec/switch/reset_switch

    # SAMSUNG CMC624
    chown system system  /sys/class/mdnie/mdnie/lcdtype
    chown system system  /sys/class/mdnie/mdnie/lcd_power
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system system /sys/class/mdnie/mdnie/tuning
    chown system media_rw /sys/class/mdnie/mdnie/outdoor
    chown system system  /sys/class/mdnie/mdnie/mdnie_temp
    chown system system /sys/class/mdnie/mdnie/mode
    chown system system /sys/class/mdnie/mdnie/negative
    chown system media_rw /sys/class/mdnie/mdnie/playspeed
    chown system system /sys/class/lcd/panel/window_type
    chown radio system /sys/class/lcd/panel/power_reduce
    chown system media_rw /sys/class/mdnie/mdnie/accessibility
    chown radio system /sys/class/lcd/panel/siop_enable
    chown radio system /sys/class/lcd/panel/temperature

    # PCC
    chown system system /sys/devices/virtual/graphics/fb0/rgb
    chmod 0660 /sys/devices/virtual/graphics/fb0/rgb

    # permissions for NFC
    setprop ro.nfc.port "I2C"
    chmod 0600 /dev/pn544
    chown nfc nfc /dev/pn544

    # permission for CHARGING
    chown system radio /sys/class/power_supply/battery/batt_reset_soc
    chown system radio /sys/class/power_supply/battery/batt_slate_mode
    chown system radio /sys/class/power_supply/battery/batt_reset_soc
    chown system radio /sys/class/power_supply/battery/factory_mode
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/call
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/video
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/music
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/browser
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/hotspot
    chown sdcard_rw sdcard_rw /sys/class/power_supply/battery/camera
    chown system radio /sys/class/power_supply/battery/talk_wcdma
    chown system radio /sys/class/power_supply/battery/talk_gsm
    chown system radio /sys/class/power_supply/battery/call
    chown system radio /sys/class/power_supply/battery/data_call
    chown system radio /sys/class/power_supply/battery/gps
    chown system radio /sys/class/power_supply/battery/wifi
    chown system radio /sys/class/power_supply/battery/lte

    # klaatu tdmb ownership
    chown system system /dev/tdmb
    chmod 0660 /dev/tdmb

    # Vibetonz
    chmod 0660 /dev/tspdrv
    chown root shell /dev/tspdrv
    chown system system /sys/class/timed_output/vibrator/pwm_value
    chmod 0660 /sys/class/timed_output/vibrator/pwm_value
    chown system system /sys/class/timed_output/vibrator/pwm_max
    chmod 0660 /sys/class/timed_output/vibrator/pwm_max
    chown system system /sys/class/timed_output/vibrator/pwm_min
    chmod 0660 /sys/class/timed_output/vibrator/pwm_min
    chown system system /sys/class/timed_output/vibrator/pwm_default
    chmod 0660 /sys/class/timed_output/vibrator/pwm_default
    chown system system /sys/class/timed_output/vibrator/pwm_threshold
    chmod 0660 /sys/class/timed_output/vibrator/pwm_threshold

    # Auto Brightness
    chown system system /sys/class/backlight/panel/auto_brightness
    chmod 0660 /sys/class/backlight/panel/auto_brightness

    # volume up/down key
    chown radio system /sys/class/sec/sec_key/wakeup_keys

    setprop vold.post_fs_data_done 1

on property:init.svc.surfaceflinger=stopped
    stop ppd
    stop hdmid

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:init.svc.p2p_supplicant=stopped
    stop dhcpcd

on property:bluetooth.isEnabled=true
    write /sys/class/bluetooth/hci0/idle_timeout 7000

on property:vold.decrypt=trigger_restart_framework
    start config_bluetooth

service irsc_util /system/bin/irsc_util "/etc/sec_config"
    class main
    user root
    oneshot

service rmt_storage /system/bin/rmt_storage
    class core
    user root
    group system

service bridgemgrd /system/bin/bridgemgrd
    class late_start
    user radio
    group radio qcom_diag
    disabled

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0
    class late_start
    user system
    group system inet
    disabled

# QMUX must be in multiple groups to support external process connections
service qmuxd /system/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth gps qcom_diag log

# Adjust socket buffer to enlarge TCP receive window for high bandwidth
# but only if ro.data.large_tcp_window_size property is set.
on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  2

# New supplicant service config to support both BCM4334 / WCN3660
service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# New supplicant service config to support both BCM4334 / WCN3660
service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf -N \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -puse_p2p_group_interface=1 \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class late_start
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class late_start
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -aABDKL
    class late_start
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep1 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep2 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep3 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep4 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    disabled
    oneshot

service hdmid /system/bin/hdmid
    class late_start
    user system
    group system graphics
    socket hdmid stream 0660 system system
    disabled

on property:ro.hdmi.enable=true
    start hdmid

service ds_fmc_appd /system/bin/ds_fmc_appd -p "rmnet0" -D
    class late_start
    group radio wifi inet
    disabled
    oneshot

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

service macloader /system/bin/macloader
    class main
    oneshot

# Disable boot timeout for external modems.
on property:persist.sys.mdm.timeout_disable=1
    write /sys/module/mdm_common/parameters/disable_boot_timeout 1

# Limit to SoC reset (1) and independent SSR (3)
on property:persist.sys.ssr.restart_level=1
    write /sys/module/subsystem_restart/parameters/restart_level 1

on property:persist.sys.ssr.restart_level=3
    write /sys/module/subsystem_restart/parameters/restart_level 3

on property:service.bootanim.exit=1
    write /proc/sys/net/ipv6/conf/rmnet_usb0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_usb3/accept_ra 2

service charger /charger
    class charger
    critical
    seclabel u:r:healthd:s0

# start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user media
    group system camera inet input graphics

service mpdecision /system/bin/mpdecision --avg_comp
   class late_start
   user root
   group system

service kickstart /system/bin/qcks -i /firmware-mdm/image/
    user root
    group radio cache inet misc audio sdcard_rw log system
    oneshot
    disabled

# Start kickstart if mdm is detected
on property:ro.baseband=mdm
    mkdir /data/qcks 0770 system system
    start kickstart
    start qmuxd

# boot completed
on property:dev.bootcomplete=1
    # disable pulsing led on boot complete
    exec /system/bin/sh /system/etc/init.led.sh

